# Python environment files
.env
.venv
env
.env.swp

# Python cache files
__pycache__

# Data directories
rag_app_full_appclition_with_chatgpt/data
data
chatbot_create_collection/qdrant_data
qdrant_data
chatbot_create_collection/pdfs
chatbot_pdf_management_api/pdfs/
pdf_Data

# Node.js modules
node_modules

# FastAPI and Docker related files
./chatbot_api/env_fastapi
./chatbot_api/app.log
chatbot_api/app.log
docker-compose.yaml


# ===============================================================
#              Jupyter Notebook  for reference 
# ===============================================================
/chatbot_api/tests
chatbot_api/.python-version



# Log files
logs/
./logs/app.log
logfile
log/

# Other directories to ignore
chat_pdf_management_api/

# Production environment
.env.production

# Distribution files
dist


# ===============================================================
#              Jupyter Notebook  for reference 

# ===============================================================

notebook/*
*.ipynb
.env.backup
.env.production.backup
