<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PDF Manager</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
</head>

<body class="bg-gray-100 h-screen">

    <header class="bg-green-600 p-4">
        <h1 class="text-white text-3xl text-center ">ระบบจัด PDF การมารตการสินเชื่อ 📁 </h1>
    </header>

    <main class="container mx-auto p-4 flex justify-center"></main>

    <div class="flex justify-center text-center p-20 space-x-4">
        <div class="space-x-4">
            <a class="text-3xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/upload_page">
                📂 Upload a PDF
            </a>
            <a class="text-3xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/files">
                📃 List PDFs
            </a>
        </div>
    </div>
    </main>

</body>
<footer>
    <p class="text-center text-gray-500 py-40">© 2024 PDF Manager.BAAC X SuperAI Prototype</p>
</footer>

</html>
