# Ignore .env file
.env
# Ignore Dockerfile
Dockerfile
# Ignore Python cache files
__pycache__
# Ignore API run script
run_api.sh

__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.env
.idea/
.vscode/
*__pycache__/
*.egg-info/
dist/
build/