name: build fron end

on: 
  push: 
    branches: [main]
    
  pull_request: 
    branches: [main]

jobs: 
  build: 
    runs-on: self-hosted 
    steps: 
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        working-directory: frontend
        run: npm i 

      - name: Build Frontend
        working-directory: frontend
        run: npm run build

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        working-directory: frontend
        run: |
          docker build -t ghcr.io/jeerasakananta/cs_project-frontend:latest \
                       -t ghcr.io/jeerasakananta/cs_project-frontend:${{ github.sha }} .

      - name: Push Docker Image
        working-directory: frontend
        run: |
          docker push ghcr.io/jeerasakananta/cs_project-frontend:latest
          docker push ghcr.io/jeerasakananta/cs_project-frontend:${{ github.sha }}

      - name: Deploy Docker Container
        run: |
          docker stop cs_project-frontend || true
          docker rm cs_project-frontend || true
          docker run -d \
            --name cs_project-frontend \
            --restart unless-stopped \
            -p 8000:8000 \
            ghcr.io/jeerasakananta/cs_project-frontend:latest

    